form {
  border: 1px solid black;
  margin: auto;
  margin-top: 40px;
  width: 500px;
}

h1 {
  font-size: 25px;
  text-align: center;
}
input {
  margin: 8px 0 8px 8px;
  width:  100%;
  text-align: right;
}

label {
}

legend {
  text-align: left;
  margin-bottom: 8px;
}

